@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>HolidayManagement DVSE</h1>
        <p class="lead"></p>
        <p><a href="http://asp.net"></a></p>

    </div>

    <div class="row">
        <div class="col-md-4">
            
            <div class="col-md-4">                                              

            </div>
        </div>
    </div>
